\@{
    ViewBag.Title = "Homepage";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- Header -->
<header id="header" class="header" style="background-image:url('/Images/download-background.jpg') !important">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="text-container">
                        <h1>STAY TUNED <br>FOR <span id="js-rotating">NEWS, UPDATES, PROGRAMS, &amp; MORE</span></h1>
                        <p class="p-large">Indus Portal provides an ultimate solution to manage the Human Resources, Employee Profile, Job Posting and Accounts &amp; Finance.</p>
                        <a class="btn-solid-lg page-scroll" href="https://indus.news" target="_blank"><i class="fa fa-globe"></i> LATEST NEWS</a>
                        <a class="btn-solid-lg page-scroll" href="https://www.youtube.com/watch?v=D9KHbHipoJ4&ab_channel=indusdotnews" target="_blank"><i class="fab fa-youtube"></i>WATCH LIVE</a>
                    </div>
                </div> <!-- end of col -->


                @*<div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="~/Images/header-iphone.png" alt="alternative">
                    </div>
                </div>*@ <!-- end of col -->

            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header> <!-- end of header -->
<!-- end of header -->

